div[role="presentation"] {
  display: flex;
  align-items: center;
}

.modal {
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }
  }

  &-content {
    padding: 30px;
    background: $color-white;

    &__title {
      margin-top: 0;
    }

    &__form {
      &-input {
        width: 100%;
        margin-bottom: 20px !important;
      }
    }
  }
}